.lyrical-upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-title{
  width: '100%'; 
  float: 'center'; 
  padding: '0';
  justify-content: center;
  padding-left: 10%;
  font-size: 25px;
}

.upload-text{
  width: '100%'; 
  float: 'center'; 
  padding: '0';
  justify-content: center;
  padding-left: 10%;
  font-size: 20px;
}

.upload-file{
  width: '100%'; 
  display: 'flex';
  padding-left: 10%;
  font-size: 18px;
}

.upload-button{
  height: '50%';
  width: '100%'; 
  display: 'flex';
  font-size: 18px;
}

.button-container {
  padding-left: 10%;
  padding-top: 20px;
}

.select-container {
  padding-left: 10%;
  width: 300px;
}

.select-option { font-size:18px; }